@page "/game"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Medieval.Shared
@attribute [Authorize]
@inject HttpClient Http


@if (game == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@game.Resources.Wood</p>
}

@code {
    private GameModel game;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            game = await Http.GetFromJsonAsync<GameModel>("v1.0/Game");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
